iframe.x-origin-frame {
    display: none;
}

body {
    background-color: #7d7d7d;
    margin: 0px;
    height:100%;
}

.assessment_container {
    height: 100vh;
    background: #ffffff;
    margin: 0 128px;
}

.lrn-assess {
    margin: 0px !important;
    padding: 0px !important;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: auto;
}

.lrn.lrn-assess .lrn-group-middle {	
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 50pt auto 60pt; 
}

.lrn.lrn-assess .lrn-group-bottom {	
	height: 60pt;
}

.passage_title, .lrn-feature-heading {
    display: none;
}

.top-right-wrapper, .bottom-right-wrapper {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.dialogs .lrn-assess-modal-footer.modal-footer .lrn_btn_blue.continue {
    display: none;
}

.lrn_stimulus .lrn_stimulus_content{
padding:0.6em;
text-align:center;    
margin: auto 320px !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
    display: table;
    margin-left: auto !important;
    margin-bottom: 0;
    margin-right: auto !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option
{
  display: table;
  padding: 15px !important;
}

.stimulus_withborder {
    border-top: 3px solid #bbb !important;
    margin: auto margin-left:25% !important; margin-right:25% !important;;
}
