.lrn_stimulus .lrn_stimulus_content{
margin:0.6em;
padding:0.6em;
text-align:center;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
    padding: 0;
    display: table;
    margin-left: auto !important;
    margin-bottom: 0;
    margin-right: auto !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option
{
  display: table;
}

.stimulus_withborder {
    border-top: 3px solid #bbbb;
    margin: auto 220px;
}
