.lrn_stimulus .lrn_stimulus_content{
margin:0.6em;
padding:0.6em;
text-align:center;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
    display: table !important;
    margin-left: auto !important;
    margin-bottom: 0;
    margin-right: auto !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option
{
  padding: 15px !important;
  display: table !important;
  text-align:center;
}

.stimulus_withborder {
    border-top: 3px solid #bbbb !important;
    margin: auto 220px !important;
}
