.lrn_stimulus .lrn_stimulus_content{
margin:0.6em;
padding:0.6em;
text-align:center;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup {
  display: table;
  margin-left: auto;
  margin-bottom: auto;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-horizontal .lrn-mcq-option, .lrn_widget.lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-vertical .lrn-mcq-option
{
  display: table;
}
