.lrn_stimulus .lrn_stimulus_content{
margin:0.6em;
padding:0.6em;
text-align:center;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-horizontal) {
    padding: 0;
    display: table !important;
    margin-left: auto !important;
    margin-bottom: 0;
    margin-right: auto !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup:not(.lrn_mcqgroup-horizontal) .lrn-mcq-option
{
  display: table !important;
}

hr.stimulus_withborder {
    border-top: 5px solid #bbbbbb;
}
